<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185220043575-9mg3ppscp6idfo4g7rtr3aphjsurq0n3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185220043575-9mg3ppscp6idfo4g7rtr3aphjsurq0n3</string>
	<key>API_KEY</key>
	<string>AIzaSyAWqU7g4051LU2_Dg1mUa8uy1F558G9zKk</string>
	<key>GCM_SENDER_ID</key>
	<string>185220043575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laxit.authenticationsDemo</string>
	<key>PROJECT_ID</key>
	<string>authentication-demo-cca56</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-demo-cca56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185220043575:ios:70e14df4f93d0bf042c0b2</string>
</dict>
</plist>